django==1.11.13
django-ckeditor==5.5.0  
django-js-asset==1.1.0  
django-maintenance-mode==0.10.0 
django-robots==3.0    
gunicorn==19.8.1 
Pillow==5.1.0  
psycopg2==2.7.4  
psycopg2-binary==2.7.4  
python-memcached==1.59
pytz==2018.4 
sendgrid==3.6.5  
sendgrid-django==4.2.0  
setuptools==39.2.0 
six==1.11.0 
wheel==0.31.1 
