<!-- About Section -->
{% if about_section %}
<section class="page-section" id="about">
  {% for content in about_section %}
  <div class="container relative">
    <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
      {{ content.title }}
    </h2>
    <div class="section-text mb-50 mb-sm-20">
      <div class="row">
        <div class="col-md-4">
          <blockquote>
            <p>
              {{ content.mention }}
            </p>
            <footer>
              {{ content.author }}
            </footer>
          </blockquote>
        </div>
        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
          {{ content.first_content|safe }}
        </div>
        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
          {{ content.second_content|safe }}
        </div>
      </div>
    </div>
    <div class="align-center">
      <a href="/about" class="section-more font-alt"><button type="submit" class="submit_btn btn btn-mod btn-medium btn-round">Conheça o Instituto Beraca</button></i></a>
    </div>
  </div>
  {% endfor %}
</section>
{% endif %}
