<!-- About Section -->
<section class="page-section" id="about">
  <div class="container relative">
    <h2 class="section-title font-alt align-left mb-70 mb-sm-40">
      Quem Somos
    </h2>
    <div class="section-text mb-50 mb-sm-20">
      <div class="row">
        <div class="col-md-4">
          <blockquote>
            <p>
              A melhor coisa que se pode fazer pelo próximo não é apenas dividir com ele suas riquezas, mas revelar-lhe as dele mesmo.
            </p>
            <footer>
              Benjamin Disraeli
            </footer>
          </blockquote>
        </div>
        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
          O Instituto Beraca surge dentro da operação da Beraca, empresa de líder em fornecimento de ingredientes naturais e orgânicos compostos de ativos extraídos da Amazônia de outros biomas brasileiro.
        </div>
        <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
          Sonhamos com a transformação social conjuntamente com comunidades vulneráveis e, através do acesso a mercados diferenciados, ativar economias locais sustentáveis que garantam a preservação e restauração do meio ambiente, a continuidade da diversidade cultural e a o resgate da dignidade humana impactada pela pobreza.
        </div>
      </div>
    </div>
    <div class="align-center">
      <a href="/about" class="section-more font-alt">Conheça o Instituto Beraca<i class="fa fa-angle-right"></i></a>
    </div>
  </div>
</section>
