{% load staticfiles %}

<!-- Services Section -->
{% if services %}
<section class="page-section" id="services">
  <div class="container relative">
    <h2 class="section-title font-alt mb-70 mb-sm-40">
      O que fazemos
    </h2>
    <!-- Nav tabs -->

    <ul class="nav nav-tabs tpl-alt-tabs font-alt pt-30 pt-sm-0 pb-30 pb-sm-0">
      {% for service in services %}
      <li class="active">
        <a href="#{{service.anchor}}" data-toggle="tab">
          <div class="alt-tabs-icon">
            <img src="{{service.icon.url}}">
          </div>
          {{service.title}}
        </a>
      </li>
      {% endfor %}
    </ul>
    <!-- End Nav tabs -->
    <!-- Tab panes -->
    <div class="tab-content tpl-tabs-cont">
      <!-- Service Item -->
      <div class="tab-pane fade in active" id="{{service.anchor}}">
        <div class="section-text">
          <div class="row">
            <div class="col-md-4 mb-md-40 mb-xs-30">
              <blockquote class="mb-0">
                <p>
                  {{service.mention}}
                </p>
                <footer>
                  {{service.author}}
                </footer>
              </blockquote>
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              {{service.abstract}}
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-50 mb-xs-30">
              {{service.conclusion}}
            </div>
          </div>
        </div>
        <div class="align-center">
          <a href="service-cadeia-produtiva.html" class="section-more font-alt"> Conheça mais <i class="fa fa-angle-right"></i></a>
        </div>
      </div>
      <!-- End Service Item -->
    </div>
    <!-- End Tab panes -->
  </div>
</section>
{% endif %}
<!-- End Services Section -->
