{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}
  {% block navigation %}
    {% include 'core/partials/navpanel.html' %}
  {% endblock navigation %}

  <!-- Head Section -->
  <section class="page-section bg-dark-alfa-30 parallax-2" data-background="{% static 'images/oquefazemos.jpg' %}">
      <div class="relative container align-left">

          <div class="row">

              <div class="col-md-8">
                  <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">O que fazemos</h1>
                  <div class="hs-line-4 font-alt">
                      Aproximamos realidades locais e oportunidades
                  </div>
              </div>
          </div>

      </div>
  </section>
  <!-- End Head Section -->

  <!-- Features Section -->
  <section class="page-section">
      <div class="container relative">

          <!-- Features Grid -->
          <div class="row alt-features-grid mb-70 mb-xs-40">

              <!-- Text Item -->
              <div class="col-sm-8 col-sm-offset-2">
                  <div class="alt-features-item align-center">
                      <div class="alt-features-descr align-center">
                          <h4 class="mt-0 font-alt">{{ object.title}}</h4>
                          {{ object.description}}
                      </div>
                  </div>
              </div>
          </div>
          <!-- End Text Item -->
          <div class="row alt-features-grid mb-70 mb-xs-40">
              {% for service in object.icones.all %}
              <!-- Features Item -->
              <div class="col-sm-3">
                  <div class="alt-features-item align-center">
                      <center class="alt-features-icon">
                          <img class="img-responsive" src="{{ service.icon.url }}">
                      </center>
                      <h3 class="alt-features-title font-alt">{{ service.title }}</h3>
                  </div>
              </div>
              <!-- End Features Item -->
              {% endfor %}
         </div>
         <!-- End Features Grid -->

         <!-- Divider -->
         <hr class="mb-70 mb-xs-30"/>
         <!-- End Divider -->

         <div class="row multi-columns-row">
              {% for method in object.methods.all %}
              <!-- Post Item -->
              <div class="col-sm-6 col-md-4 col-lg-4 mb-md-50 wow fadeIn" data-wow-delay="0.1s" data-wow-duration="2s">

                  <div class="post-prev-img">
                      <img src="{{ method.image.url }}" alt="" />
                  </div>

                  <div class="post-prev-title font-alt">
                      {{ method.title }}
                  </div>

                  <div class="post-prev-text">
                      {{ method.desc }}
                  </div>

              </div>
              <!-- End Post Item -->
              {% endfor %}
          </div>
      </div>
  </section>
  <!-- End Features Section -->


  <!-- Call Action Section -->
  <section class="page-section pt-0 pb-0 banner-section bg-dark-alfa-30" data-background="{% static 'images/beraca_sementes.jpg' %}" id="portfolio">
      <div class="container relative">

          <div class="row">

              <div class="col-sm-6">

                  <div class="mt-140 mt-lg-80 mb-140 mb-lg-80">
                      <div class="banner-content">
                          <h3 class="banner-heading font-alt">onde atuamos</h3>
                          <div class="banner-decription">
                              Atuamos em comunidades visando o desenvolvimento socioambiental.
                          </div>
                          <div class="local-scroll">
                              <a href="{% url 'core:cases' %}" class="btn btn-mod btn-w btn-medium btn-round">Veja nosso portfólio</a>
                          </div>
                      </div>
                  </div>

              </div>



          </div>

      </div>
  </section>
  <!-- End Call Action Section -->


  {% block footer %}
    {{block.super}}
  {% endblock footer %}
{% endblock content %}
