{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}

{% include 'core/partials/navpanel_with_links.html' %}
<!-- Head Section -->
<section class="page-section bg-dark-alfa-30 parallax-2" data-background="{% static 'images/texturas-18.jpg' %}">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Quem Somos</h1>
                <div class="hs-line-4 font-alt">
                    O que nos compõe é a nossa história
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Head Section -->
<!-- About Section -->
<section class="page-section" id="about">
    <div class="container relative">
        <div class="section-text mb-60 mb-sm-40">
            <div class="row">
                <div class="col-sm-6 mb-sm-50 mb-xs-30">
                    <h4 class="mt-0 font-alt">O orgulho do nosso passado</h4>
                    <p>
                      O Instituto Beraca surge dentro da operação da Beraca, empresa de líder em fornecimento de ingredientes naturais e orgânicos compostos de ativos extraídos da Amazônia de outros biomas brasileiro.
                    </p>
                    <p>
                      A partir de 2000, a Beraca estruturou o Programa Beraca de Valorização da Biodiversidade, com o objetivo de assegurar a sustentabilidade no fornecimento de matérias primas da biodiversidade brasileira para o mercado global. Buscando maximizar o impacto social positivo nas comunidades fornecedoras, a Beraca passou a auxiliar comunidades locais nos processos de organização, aumentando a consciência sobre responsabilidade socioambiental, promovendo a transferência de conhecimento e a co-criação de tecnologia.
                    </p>
                    <p>
                      O êxito desse programa vem sendo reconhecido em nível nacional a internacional. (incluir dados sobre prêmios e reconhecimentos)
                    </p>
                    <p>
                      Em anos recentes, a Beraca passou a ser procurada por parceiros e clientes para atuar em territórios que tem sua biodiversidade ameaçada ou em que há oportunidades para fornecimento de matérias primas em ações integradas de sustentabilidade. Apesar desse não ser o core business da Beraca, seus dirigentes entenderam que a expertise que nasceu dentro do negócio tinha o potencial de impactar mais amplamente a sociedade. Passaram a estudar a possibilidade de criar um Instituto que pudesse realizar o sonho mais amplo de deixar uma contribuição para as gerações futuras.
                    </p>
                </div>
                <div class="col-sm-6 mb-sm-50 mb-xs-30">
                    <!-- Bar Item -->
                    <div class="progress tpl-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
                            Desenvolvimento sustentável <span><icon class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </div>
                    <!-- End Bar Item -->
                    <!-- Bar Item -->
                    <div class="progress tpl-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
                            Capacitação e monitoramento <span><icon class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </div>
                    <!-- End Bar Item -->
                    <!-- Bar Item -->
                    <div class="progress tpl-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                            Transformação social <span><icon class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </div>
                    <!-- End Bar Item -->
                    <!-- Bar Item -->
                    <div class="progress tpl-progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            GAP Analysis <span><icon class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </div>
                    <!-- End Bar Item -->
                </div>
            </div>
        </div>
        <!-- Counters -->
        <div class="count-wrapper mb-80 mb-sm-60">
            <div class="row">
                <!-- Counter Item -->
                <div class="col-xs-6 col-sm-3">
                    <div class="count-number">
                        3000
                    </div>
                    <div class="count-descr font-alt">
                        <i class="fa fa-user-circle"></i>
                        <span class="count-title">Pessoas atendidas</span>
                    </div>
                </div>
                <!-- End Counter Item -->
                <!-- Counter Item -->
                <div class="col-xs-6 col-sm-3">
                    <div class="count-number">
                        150
                    </div>
                    <div class="count-descr font-alt">
                        <i class="fa fa-group"></i>
                        <span class="count-title">Comunidades parceiras</span>
                    </div>
                </div>
                <!-- End Counter Item -->
                <!-- Counter Item -->
                <div class="col-xs-6 col-sm-3">
                    <div class="count-number">
                        26
                    </div>
                    <div class="count-descr font-alt">
                        <i class="fa fa-cogs"></i>
                        <span class="count-title">Ações realizadas</span>
                    </div>
                </div>
                <!-- End Counter Item -->
                <!-- Counter Item -->
                <div class="col-xs-6 col-sm-3">
                    <div class="count-number">
                        1000000
                    </div>
                    <div class="count-descr font-alt">
                        <i class="fa fa-lightbulb-o"></i>
                        <span class="count-title">Grandes ideias</span>
                    </div>
                </div>
                <!-- End Counter Item -->
            </div>
        </div>
        <!-- End Counters -->

        <!-- Team -->
        <div class="row multi-columns-row">
            <!-- Team Item -->
            <div class="col-sm-6 col-md-3 col-lg-3 mb-sm-30 wow fadeInUp">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src="{% static 'images/team/team-1.jpg' %}" alt="" />
                        <div class="team-item-detail">
                            <h4 class="font-alt normal">Hello & Welcome!</h4>
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit lacus, a&nbsp;iaculis diam.
                            </p>
                            <div class="team-social-links">
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item-descr font-alt">
                        <div class="team-item-name">
                            Thomas Rhythm
                        </div>
                        <div class="team-item-role">
                            Art Director
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Team Item -->

            <!-- Team Item -->
            <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src="{% static 'images/team/team-2.jpg' %}" alt="" />
                        <div class="team-item-detail">
                            <h4 class="font-alt normal">Nice to meet!</h4>
                            <p>
                                Curabitur augue, nec finibus mauris pretium eu. Duis placerat ex gravida nibh tristique porta.
                            </p>
                            <div class="team-social-links">
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item-descr font-alt">
                        <div class="team-item-name">
                            Marta Laning
                        </div>
                        <div class="team-item-role">
                            Web engineer
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Team Item -->
            <!-- Team Item -->
            <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src="{% static 'images/team/team-3.jpg' %}" alt="" />
                        <div class="team-item-detail">
                            <h4 class="font-alt normal">Whats Up!</h4>
                            <p>
                                Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam.
                            </p>
                            <div class="team-social-links">
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </div/>
                        </div>
                    </div>
                    <div class="team-item-descr font-alt">
                        <div class="team-item-name">
                            Steve ANDERS
                        </div>
                        <div class="team-item-role">
                            Developer
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Team Item -->

            <!-- Team Item -->
            <div class="col-sm-6 col-md-3 col-lg-3 mb-md-30 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item">
                    <div class="team-item-image">
                        <img src="{% static 'images/team/team-4.jpg' %}" alt="" />
                        <div class="team-item-detail">
                            <h4 class="font-alt normal">Hi to all!</h4>
                            <p>
                                Adipiscing elit curabitur eu&nbsp;adipiscing lacus eu&nbsp;adipiscing lacus, a&nbsp;iaculis diam.
                            </p>
                            <div class="team-social-links">
                                <a href="#" target="_blank"><i class="fa fa-facebook"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-pinterest"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="team-item-descr font-alt">
                        <div class="team-item-name">
                            Emma Connor
                        </div>
                        <div class="team-item-role">
                            Creative Director
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Team Item -->
        </div>
        <!-- End Team -->
    </div>
</section>
<!-- End About Section -->

<!-- Testimonials Section -->
<section class="page-section bg-dark bg-color-alfa-30 fullwidth-slider" data-background="{% static 'images/beraca_testimonial1.jpg' %}">

    <!-- Slide Item -->
    <div>
        <div class="container relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    <!-- Section Icon -->
                    <div class="section-icon">
                        <span class="icon-quote"></span>
                    </div>
                    <!-- Section Title --><h3 class="small-title font-alt">O que dizem</h3>
                    <blockquote class="testimonial white">
                        <p>
                            A atuação do Instituto Beraca em nossa comunidade facilitou o processo de relação com o mercado e distribuição de nossos produtos. Obrigado!
                        </p>
                        <footer class="testimonial-author">
                            Maria do Vale, associção de mulheres.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slide Item -->

    <!-- Slide Item -->
    <div>
        <div class="container relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    <!-- Section Icon -->
                    <div class="section-icon">
                        <span class="icon-quote"></span>
                    </div>
                    <!-- Section Title --><h3 class="small-title font-alt">What people say?</h3>
                    <blockquote class="testimonial white">
                        <p>
                            Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,
                            risus utaliquam dapibus. Thanks!
                        </p>
                        <footer class="testimonial-author">
                            John Doe, doodle inc.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slide Item -->

    <!-- Slide Item -->
    <div>
        <div class="container relative">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 align-center">
                    <!-- Section Icon -->
                    <div class="section-icon">
                        <span class="icon-quote"></span>
                    </div>
                    <!-- Section Title --><h3 class="small-title font-alt">What people say?</h3>
                    <blockquote class="testimonial white">
                        <p>
                            Phasellus luctus commodo ullamcorper a posuere rhoncus commodo elit. Aenean congue,
                            risus utaliquam dapibus. Thanks!
                        </p>
                        <footer class="testimonial-author">
                            John Doe, doodle inc.
                        </footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
    <!-- End Slide Item -->
</section>
<!-- End Testimonials Section -->

<!-- Divider -->
<hr class="mt-0 mb-0 "/>
<!-- End Divider -->
<!-- Story Section -->
<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Conheça nosso ponto de vista
        </h2>
        <!-- Our Story -->
        <div class="row">
            <!-- Col -->
            <div class="col-sm-8 col-sm-offset-2">
                <!-- Nav Tabs -->
                <div class="align-center mb-40 mb-xxs-30">
                    <ul class="nav nav-tabs tpl-minimal-tabs animate">
                        <li class="active">
                            <a href="#mini-one" data-toggle="tab">Missão</a>
                        </li>
                        <li>
                            <a href="#mini-two" data-toggle="tab">Visão</a>
                        </li>
                        <li>
                            <a href="#mini-three" data-toggle="tab">Valores</a>
                        </li>
                    </ul>
                </div>
                <!-- End Nav Tabs -->
                <!-- Tab panes -->
                <div class="tab-content tpl-minimal-tabs-cont section-text align-center">
                    <div class="tab-pane fade in active" id="mini-one">
                        A missão do Instituto Beraca é sonhar transformação social conjuntamente com comunidades vulneráveis e, através do acesso a mercados diferenciados, ativar economias locais sustentáveis que garantam a preservação e restauração do meio ambiente, a continuidade da diversidade cultural e a o resgate da dignidade humana impactada pela pobreza.
                    </div>
                    <div class="tab-pane fade" id="mini-two">
                      “A melhor coisa que se pode fazer pelo próximo não é apenas dividir com ele suas riquezas, <br>mas revelar-lhe as dele mesmo.”
                      <br>Benjamin Disraeli (escritor e primeiro-ministro do Reino Unido em 1868 e entre 1874 e 1880)
		</div>
                    <div class="tab-pane fade" id="mini-three">
                      - Empatia e respeito ao outro
                      <br>- Empreendedorismo e resiliência
                      <br>- Respeito à diversidade humana e cultural
                      <br>- Ética e transparência
		</div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Story -->
    </div>
</section>
<!-- End Story Section -->

<!-- Call Action Section -->
<section class="small-section bg-yellow-dg">
    <div class="container relative">

        <div class="align-center">
            <h3 class="banner-heading font-alt">Quer conversar com a gente?</h3>
            <div>
                <a href="{% url 'core:index' %}#contact" class="btn btn-mod btn-w btn-medium btn-round">É rápido</a>
            </div>
        </div>
    </div>
</section>
<!-- End Call Action Section -->

{% block footer %}
  {{block.super}}
{% endblock footer %}

{% endblock content %}
