{% extends 'core/base.html' %}
{% load staticfiles i18n %}

{% block content %}

{% include 'core/partials/navpanel_with_links.html' %}
{% if about_internal %}
<!-- Head Section -->
{% for content in about_internal %}
<section class="page-section bg-dark-alfa-30 parallax-2" data-background="{% static 'images/quemsomos.jpg' %}">

    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">{{ content.title }}</h1>
                <div class="hs-line-4 font-alt">
                    {{ content.subtitle }}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Head Section -->
<!-- About Section -->
<section class="page-section" id="about">
    <div class="container relative">
        <div class="section-text mb-60 mb-sm-40">
            <div class="row">
                <center class="col-sm-8 col-sm-offset-2 mb-sm-50 mb-xs-30">
                    <h4 class="mt-0 font-alt">{{ content.title_paragraph }}</h4>
                    {{ content.content|safe }}
                </center>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Testimonials Section -->
<section class="page-section bg-color-alfa-30 team-core" data-background="{% static 'images/debora_goldemberg.jpg' %}">
  <div class="container absolute">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mb-sm-30">
        <div class="team-item">
          <div class="team-item-detail">
            <div class="row">
                <!-- Col -->
                <div class="col-sm-8 col-sm-offset-2">
                  <!-- Nav Tabs -->
                    <div class="align-center mb-40 mb-xxs-30">
                      <ul class="nav nav-tabs tpl-minimal-tabs animate">
                        <li class="active">
                          <a href="#director" data-toggle="tab">{% trans "Direção" %}</a>
                        </li>
                        <li>
                          <a href="#council" data-toggle="tab">{% trans "Conselho Gestor" %}</a>
                        </li>
                      </ul>
                    </div>
                  <!-- End Nav Tabs -->
                  <!-- Tab panes -->
                    <div class="tab-content tpl-minimal-tabs-cont section-text align-center">
                      <div class="tab-pane fade in active" id="director">
                        {{ content.director|safe }}
                      </div>
                      <div class="tab-pane fade" id="council">
                        {{ content.council|safe }}
                      </div>
                    </div>
                  </div>
                  <!-- End Col -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<!-- End Testimonials Section -->

<!-- Divider -->
<hr class="mt-0 mb-0 "/>
<!-- End Divider -->
<!-- Story Section -->
<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            {% trans "Conheça nosso ponto de vista" %}
        </h2>
        <!-- Our Story -->
        <div class="row">
            <!-- Col -->
            <div class="col-sm-8 col-sm-offset-2">
                <!-- Nav Tabs -->
                <div class="align-center mb-40 mb-xxs-30">
                    <ul class="nav nav-tabs tpl-minimal-tabs animate">
                        <li class="active">
                            <a href="#mini-one" data-toggle="tab">{% trans "Missão" %}</a>
                        </li>
                        <li>
                            <a href="#mini-two" data-toggle="tab">{% trans "Visão" %}</a>
                        </li>
                        <li>
                            <a href="#mini-three" data-toggle="tab">{% trans "Valores" %}</a>
                        </li>
                    </ul>
                </div>
                <!-- End Nav Tabs -->
                <!-- Tab panes -->
                <div class="tab-content tpl-minimal-tabs-cont section-text align-center">
                    <div class="tab-pane fade in active" id="mini-one">
                        {{ content.mission|safe }}
                    </div>
                    <div class="tab-pane fade" id="mini-two">
                      {{ content.vision|safe }}
		</div>
                    <div class="tab-pane fade" id="mini-three">

                      {{ content.values|safe }}
		</div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Story -->
    </div>
</section>
<!-- End Story Section -->

<!-- Call Action Section -->
<section class="small-section bg-yellow-dg">
    <div class="container relative">

        <div class="align-center">
            <h3 class="banner-heading font-alt">{% trans "Quer conversar com a gente?" %}</h3>
            <div>
                <a href="{% url 'core:index' %}#contact" class="btn btn-mod btn-w btn-medium btn-round">{% trans "É rápido" %}</a>
            </div>
        </div>
    </div>
</section>
<!-- End Call Action Section -->
{% endfor %}
{% endif %}
{% block footer %}
  {{block.super}}
{% endblock footer %}

{% endblock content %}
