{% extends 'core/base.html' %}
{% load staticfiles %}

{% block content %}

{% include 'core/partials/navpanel_with_links.html' %}
<!-- Head Section -->
<section class="page-section bg-dark-alfa-30 parallax-2" data-background="{% static 'images/quemsomos.jpg' %}">
    <div class="relative container align-left">
        <div class="row">
            <div class="col-md-8">
                <h1 class="hs-line-11 font-alt mb-20 mb-xs-0">Quem Somos</h1>
                <div class="hs-line-4 font-alt">
                    O que nos compõe é a nossa história
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Head Section -->
<!-- About Section -->
<section class="page-section" id="about">
    <div class="container relative">
        <div class="section-text mb-60 mb-sm-40">
            <div class="row">
                <center class="col-sm-8 col-sm-offset-2 mb-sm-50 mb-xs-30">
                    <h4 class="mt-0 font-alt">O orgulho do nosso passado</h4>
                    <p>
                      O Instituto Beraca surge dentro da operação da Beraca, empresa líder em fornecimento de ingredientes naturais e orgânicos compostos de ativos extraídos da Amazônia de outros biomas brasileiros.
                    </p>
                    <p>
                      A partir de 2000, a Beraca estruturou o Programa Beraca de Valorização da Biodiversidade, com o objetivo de assegurar a sustentabilidade no fornecimento de matérias primas da biodiversidade brasileira para o mercado global. Buscando maximizar o impacto social positivo nas comunidades fornecedoras, a Beraca passou a auxiliar comunidades locais nos processos de organização, aumentando a consciência sobre responsabilidade socioambiental, promovendo a transferência de conhecimento e a co-criação de tecnologia. O êxito desse programa vem sendo reconhecido em nível nacional a internacional.
                    </p>
                    <p>
                      Em anos recentes, a Beraca passou a ser procurada por parceiros e clientes para atuar em territórios que tem sua biodiversidade ameaçada ou em que há oportunidades para fornecimento de matérias primas em ações integradas de sustentabilidade. Apesar desse não ser o core business da Beraca, seus dirigentes entenderam que a expertise que nasceu dentro do negócio tinha o potencial de impactar mais amplamente a sociedade. Passaram a estudar a possibilidade de criar um Instituto que pudesse realizar o sonho mais amplo de deixar uma contribuição para as gerações futuras.
                    </p>
                </center>
            </div>
        </div>
    </div>
</section>
<!-- End About Section -->

<!-- Testimonials Section -->
<section class="page-section bg-color-alfa-30 team-core" data-background="{% static 'images/debora_goldemberg.jpg' %}">
  <div class="container absolute">
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12 mb-sm-30">
        <div class="team-item">
          <div class="team-item-detail">
            <div class="row">
                <!-- Col -->
                <div class="col-sm-8 col-sm-offset-2">
                  <!-- Nav Tabs -->
                    <div class="align-center mb-40 mb-xxs-30">
                      <ul class="nav nav-tabs tpl-minimal-tabs animate">
                        <li class="active">
                          <a href="#deborah" data-toggle="tab">Deborah Goldemberg</a>
                        </li>
                        <li>
                          <a href="#tati" data-toggle="tab">Thais Penna</a>
                        </li>
                        <li>
                          <a href="#conselho" data-toggle="tab">Conselho Gestor</a>
                        </li>
                      </ul>
                    </div>
                  <!-- End Nav Tabs -->
                  <!-- Tab panes -->
                    <div class="tab-content tpl-minimal-tabs-cont section-text align-center">
                      <div class="tab-pane fade in active" id="deborah">
                        Especialista em desenvolvimento social, com experiência no Brasil e na América Latina, atuando com planejamento participativo, desenvolvimento comunitário, inclusive com povos tradicionais, avaliação de impacto social, sustentabilidade e responsabilidade social corporativa. Experiência em agências internacionais (ONU/Banco Mundial), setor privado e organizações não-governamentais.
                      </div>
                      <div class="tab-pane fade" id="tati">
                      “A melhor coisa que se pode fazer pelo próximo não é apenas dividir com ele suas riquezas, mas revelar-lhe as dele mesmo.”
                        <br>Benjamin Disraeli (escritor e primeiro-ministro do Reino Unido em 1868 e entre 1874 e 1880)
                      </div>
                      <div class="tab-pane fade" id="conselho">
                        <strong>Presidente:</strong> Ulisses Matiolli Sabará</br>
                        <strong>Vice Presidente:</strong> Daniel Nose Sabará</br>
                        <strong>Diretor Financeiro:</strong> Wellington Santos Rodgério</br>
                        <strong>Conselho Fiscal</strong></br>
                        Junior Pereira Ramos, Fabio Licastro, Ronison Martins Porto</br>
                        <strong>Suplência do Conselho Fiscal</strong></br>
                        Ana Maria Rédua Giamarino, Daniela Aparecida Diamente Bierast, José Roberto do Nascimento</br>
                      </div>
                    </div>
                  </div>
                  <!-- End Col -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>
<!-- End Testimonials Section -->

<!-- Divider -->
<hr class="mt-0 mb-0 "/>
<!-- End Divider -->
<!-- Story Section -->
<section class="page-section">
    <div class="container relative">
        <h2 class="section-title font-alt mb-70 mb-sm-40">
            Conheça nosso ponto de vista
        </h2>
        <!-- Our Story -->
        <div class="row">
            <!-- Col -->
            <div class="col-sm-8 col-sm-offset-2">
                <!-- Nav Tabs -->
                <div class="align-center mb-40 mb-xxs-30">
                    <ul class="nav nav-tabs tpl-minimal-tabs animate">
                        <li class="active">
                            <a href="#mini-one" data-toggle="tab">Missão</a>
                        </li>
                        <li>
                            <a href="#mini-two" data-toggle="tab">Visão</a>
                        </li>
                        <li>
                            <a href="#mini-three" data-toggle="tab">Valores</a>
                        </li>
                    </ul>
                </div>
                <!-- End Nav Tabs -->
                <!-- Tab panes -->
                <div class="tab-content tpl-minimal-tabs-cont section-text align-center">
                    <div class="tab-pane fade in active" id="mini-one">
                        A missão do Instituto Beraca é sonhar transformação social conjuntamente com comunidades vulneráveis e, através do acesso a mercados diferenciados, ativar economias locais sustentáveis que garantam a preservação e restauração do meio ambiente, a continuidade da diversidade cultural e o resgate da dignidade humana impactada pela pobreza.
                    </div>
                    <div class="tab-pane fade" id="mini-two">
                      “A melhor coisa que se pode fazer pelo próximo não é apenas dividir com ele suas riquezas, mas revelar-lhe as dele mesmo.”
                      <br>Benjamin Disraeli (escritor e primeiro-ministro do Reino Unido em 1868 e entre 1874 e 1880)
		</div>
                    <div class="tab-pane fade" id="mini-three">
                      Empatia e respeito ao outro
                      <br>Empreendedorismo e resiliência
                      <br>Respeito à diversidade humana e cultural
                      <br>Ética e transparência
		</div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Story -->
    </div>
</section>
<!-- End Story Section -->

<!-- Call Action Section -->
<section class="small-section bg-yellow-dg">
    <div class="container relative">

        <div class="align-center">
            <h3 class="banner-heading font-alt">Quer conversar com a gente?</h3>
            <div>
                <a href="{% url 'core:index' %}#contact" class="btn btn-mod btn-w btn-medium btn-round">É rápido</a>
            </div>
        </div>
    </div>
</section>
<!-- End Call Action Section -->

{% block footer %}
  {{block.super}}
{% endblock footer %}

{% endblock content %}
