{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head>
        <title>Instituto Beraca</title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta charset="utf-8">
        <meta name="author" content="3Ecologias.net">
        <!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />

        <!-- Favicons -->
        <link rel="shortcut icon" href="images/favicon.png">

        <!-- CSS -->
        <!-- <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/style-responsive.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/vertical-rhythm.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

        <link rel="apple-touch-icon" sizes="57x57" href="{% static 'images/favicon/apple-icon-57x57.png' %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static 'images/favicon/apple-icon-60x60.png' %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static 'images/favicon/apple-icon-72x72.png' %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon/apple-icon-76x76.png' %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static 'images/favicon/apple-icon-114x114.png' %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon/apple-icon-120x120.png' %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static 'images/favicon/apple-icon-144x144.png' %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon/apple-icon-152x152.png' %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/favicon/apple-icon-180x180.png' %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'images/favicon/android-icon-192x192.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/favicon/favicon-96x96.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon/favicon-16x16.png' %}">
        <link rel="manifest" href="{% static 'images/favicon/manifest.json' %}">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="{% static 'images/favicon/ms-icon-144x144.png' %}">
        <meta name="theme-color" content="#ffffff">

        <!-- Google -->
        <meta name="description" content="Criatividade na conservação de comunidades tradicionais e do meio ambiente" />
        <meta name="keywords" content="beraca, instituto beraca, ação social, repartição de benefícios, comunidades tradicionais, meio ambiente" />
        <meta name="author" content="3Ecologias.net" />

        {% block social_meta %}

        <!-- Facebook and Twitter integration -->
        <meta property="og:title" content="Instituto Beraca"/>
        <meta property="og:image" content="{% static 'images/jovens_na_pedra.jpg' %}" />
        <meta property="og:url" content="http://www.institutoberaca.org" />
        <meta property="og:site_name" content="Instituto Beraca"/>
        <meta property="og:description" content="Criatividade na conservação de comunidades tradicionais e do meio ambiente"/>
        <meta property="og:locale" content="en_US" />
        <meta name="twitter:title" content="Instituto Beraca" />
        <meta name="twitter:image" content="{% static 'images/jovens_na_pedra.jpg' %}" />
        <meta name="twitter:url" content="http://www.institutoberaca.org" />
        <meta name="twitter:card" content="" />

        {% endblock social_meta %}



        {% block extrastyles %}
        {% endblock extrastyles %}
    </head>
    <body class="appear-animate">

        <!-- Page Loader -->
        <div class="page-loader">
            <div class="loader">só 8 segundinhos...</div>
        </div>
        <!-- End Page Loader -->

        <!-- Page Wrap -->
        <div class="page" id="top">
          {% block content %}

            <!-- Footer -->
            {% block footer %}
              {% include 'core/partials/footer.html' %}
            {% endblock footer %}

          {% endblock content %}
        </div>
        <!-- End Page Wrap -->


        <!-- JS -->
        <script type="text/javascript" src="{% static 'js/jquery-1.11.2.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
        <!-- <script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script> -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'js/SmoothScroll.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.scrollTo.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.localScroll.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.viewport.mini.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.countTo.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.sticky.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.parallax-1.1.3.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.fitvids.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/gmap3.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/wow.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/masonry.pkgd.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.simple-text-rotator.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/all.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/contact-form.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/next.js' %}"></script>
        <!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
        {% block extrascripts %}
        {% endblock extrascripts %}

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-96962719-1', 'auto');
          ga('send', 'pageview');

        </script>

    </body>
</html>
