{% extends 'core/base.html' %}
{% load i18n %}
{% block content %}
<article>
    <h1>{% trans "Estaremos de volta em breve!" %}</h1>
    <div>
        <p>{% trans "Descupe pelo inconveniente, mas nós estamos realizando uma manutenção no momento.
          Em breve estaremos de volta." %}
        <p>&mdash; Instituto Beraca</p>
    </div>
</article>
{% endblock %}

{% block extrastyles %}
<style>
  body { text-align: center; padding: 150px; }
  h1 { font-size: 50px; }
  body { font: 40px, sans-serif; color: #333; }
  article { display: block; text-align: left; width: 650px; margin: 0 auto; }
  a { color: #dc8100; text-decoration: none; }
  a:hover { color: #333; text-decoration: none; }
</style>
{% endblock extrastyles %}
