{% extends 'core/base.html' %}
{% load staticfiles i18n %}
{% block extrascripts %}
<script>
$(document).ready(function() {
  if (!($("html").hasClass("mobile"))) {
    var videobackground = new $.backgroundVideo($('.sm-video-reparte'), {
      "align": "centerXY",
      "width": 1920,
      "height": 1080,
      "path": "../static/video/",
      "filename": "ReparteBR",
      "types": ["mp4", "webm"],
      "autoplay": true,
      "loop": true
    });
  }
});
</script>
{% endblock extrascripts %}
{% block content %}

{% include 'core/partials/navpanel_with_links.html' %}
<!-- Head Section -->
<div class="page-header-video">
  <div class="container js-height-fullscr">
  <div class="sm-video-wrapper">
    <div class="sm-video-reparte"></div>
  </div>
  <div class="filter"></div>
    <div class="motto text-center">
      <h1>{% trans "Encontre comunidades para repartir benefícios" %}</h1>
      <h3>{% trans "Acesse projetos de alto impacto socioambiental" %}</h3>
      <br />
      <div class="scroll-nav local-scroll">
          <a href="https://projetos.institutoberaca.org/accounts/login" class="btn btn-mod btn-border-w btn-medium btn-round">Login</a>
          <a href="#rb" class="btn btn-mod btn-border-w btn-medium btn-round">{% trans "Saiba mais" %}</a>
      </div>
    </div>
  </div>
</div>

<!-- Story Section -->
<section class="page-section" id="rb">
    <div class="container relative mb-60 mb-sm-40">
        <h2 class="section-title font-alt mt-70 mb-70 mb-sm-40">
            {% trans "Repartição de Benefícios" %}
        </h2>
        <!-- Our Story -->
        <div class="row">
            <!-- Col -->
            <div class="col-sm-8 col-sm-offset-2">
                <!-- Nav Tabs -->
                <div class="align-center mb-40 mb-xxs-30">
                    <ul class="nav nav-tabs tpl-minimal-tabs animate">
                        <li class="active">
                            <a href="#mini-one" data-toggle="tab">{% trans "O que é" %}</a>
                        </li>
                        <li>
                            <a href="#mini-two" data-toggle="tab">{% trans "Banco de Projetos" %}</a>
                        </li>
                        <li>
                            <a href="#mini-three" data-toggle="tab">{% trans "Consultoria" %}</a>
                        </li>
                    </ul>
                </div>
                <!-- End Nav Tabs -->
                <!-- Tab panes -->
                <div class="tab-content tpl-minimal-tabs-cont section-text align-center">
                    <div class="tab-pane fade in active" id="mini-one">
                        {% trans "O acesso ao patrimônio genético, conhecimento tradicional associado e repartição de benefícios é regulado por lei internacional e nacional. O Instituto Beraca orienta os interessados em entrar em concordância com os requerimentos da lei." %}
                    </div>
                    <div class="tab-pane fade" id="mini-two">
                      {% trans "O Instituto Beraca mantém um banco de projetos elaborados a partir de planejamento participativo em diversos territórios, para que seja feito um investimento de forma mais pertinente para as comunidades e atinja seu impacto socioambiental desejado." %}
		                </div>
                    <div class="tab-pane fade" id="mini-three">
                      {% trans "Auxilia no Conhecimento Prévio Fundamentado (PIC) e no Termo de Acordo Mútuo (MAT)." %}
                      <br>{% trans "Localiza projetos em comunidades com Conhecimento Tradicional Associado (CTA)." %}
                      <br>{% trans "Organiza o escopo do projeto e o seu plano de ação." %}
                      <br>{% trans "Executa o plano de ação e participa do projeto na comunidade." %}
                      <br>{% trans "Monitora os projetos na comunidade através de relatórios analíticos." %}
                      <br>{% trans "Avalia a execução do projeto e realiza apresentação de resultados." %}
		                </div>
                </div>
            </div>
            <!-- End Col -->
        </div>
        <!-- End Story -->
    </div>
</section>
<!-- End Story Section -->

<!-- Call Action Section -->
<section class="small-section bg-yellow-dg">
    <div class="container relative">

        <div class="align-center">
            <h3 class="banner-heading font-alt">{% trans "Deseja solicitar um cadastro?" %}</h3>
            <div>
                <a href="http://institutoberaca.org/#contact" class="btn btn-mod btn-w btn-medium btn-round">{% trans "É rápido" %}</a>
            </div>
        </div>
    </div>
</section>
<!-- End Call Action Section -->

{% block footer %}
  {{block.super}}
{% endblock footer %}

{% endblock content %}
