{% extends 'core/base.html' %}

{% block content %}
  {% include 'core/partials/navpanel_with_links.html' %}
  {% include 'core/partials/blog_header.html' %}
  <div class="col-sm-4 col-md-3 pull-right sidebar">
    <div class="widget">
        <form class="form-inline form" role="form" action="{% url 'core:blog' %}" method="get">
            <div class="search-wrap">
                <button class="search-button animate" type="submit" title="Start Search">
                    <i class="fa fa-search"></i>
                </button>
                <input type="text" class="form-control search-field" name='search' placeholder="Procurar posts...">
            </div>
        </form>
    </div>
  </div>
  <section class="page-section">
    <div class="container relative">
      <div class="row">
        <!-- Content -->
        <div class="col-sm-10 col-sm-offset-1">
          {% for post in object_list %}
            <!-- Post -->
            <div class="blog-item">
              <!-- Date -->
              <div class="blog-item-date">
                <span class="date-num">{{post.date|date:"d"}}</span>{{post.date|date:"M"}}
              </div>
              <!-- Post Title -->
              <h2 class="blog-item-title font-alt"><a href="{% url 'core:post_detail' post.id %}">{{post.title}}</a></h2>
              <!-- Author, Categories, Comments -->
              <div class="blog-item-data">
                <i class="fa fa-user"></i> {{post.author}}
                <span class="separator">&nbsp;</span>
              </div>
              <!-- Media Gallery -->
              <div class="blog-media">
                <ul class="clearlist content-slider">
                  {% for image in post.images.all %}
                    <li>
                      <img src="{{image.image.url}}" alt="{{post.title}}" />
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <!-- Text Intro -->
              <div class="blog-item-body">
                <p>
                  {{post.intro}}
                </p>
              </div>
              <!-- Read More Link -->
              <div class="blog-item-foot">
                <a href="{% url 'core:post_detail' post.id %}" class="btn btn-mod btn-round  btn-small">Leia mais<i class="fa fa-angle-right"></i></a>
              </div>

            </div>
            <!-- End Post -->
          <!-- Pagination -->
          {% if is_paginated %}
          <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="/blog?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left"></i></a>
            {% endif %}
            <a href="" class="active">{{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a>
            {% if page_obj.has_next %}
              <a href="/blog?page={{ page_obj.next_page_number }}"><i class="fa fa-angle-right"></i></a>
            {% endif %}
          </div>
          {% endif %}
          <!-- End Pagination -->
        {% empty %}
        {% endfor %}
        </div>
        <!-- End Content -->
      </div>
    </div>
  </section>
  {% block footer %}
    {{block.super}}
  {% endblock footer %}
{% endblock content %}
