{% load staticfiles %}

<!-- ScrollDown section -->
<div class="container page-section">
  <div class="scrollDown">
  <a id='next' class="next"> <i class="fa fa-caret-down fa-4x" aria-hidden="true"></i></a>
  </div>
  <!-- end ScrollDown section -->
  <!-- Foter -->
  <footer class="page-section bg-gray-lighter footer pb-60">
    <!-- Footer Logo -->
    <div class="local-scroll mb-30 wow fadeInUp" data-wow-duration="1.2s">
      <a href="#top"><img src="{% static 'images/logo-beraca.svg' %}" width="78" height="36" alt="" /></a>
    </div>
    <!-- End Footer Logo -->
    <!-- Social Links -->
    <div class="footer-social-links mb-110 mb-xs-60">
      <a href="https://www.facebook.com/institutoberaca/" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/institutoberaca/" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <!-- End Social Links -->
    <!-- Footer Text -->
    <div class="footer-text">
      <!-- Copyright -->
      <center class="footer-copy font-alt">
        <a href="http://3ecologias.net/" target="_blank"><img class="img-responsive partner" src="{% static 'images/3e.png' %}"</a>
      </center>
      <!-- End Copyright -->
    </div>
    <!-- End Footer Text -->
  </div>
  <!-- Top Link -->
  <div class="local-scroll">
    <a href="#top" class="link-to-top"><i class="fa fa-caret-up"></i></a>
  </div>
  <!-- End Top Link -->
</footer>
<!-- End Foter -->
